<div align="right" style="padding-right: 20px;">
 <button class="btn btn-primary" ng-click="OpenFileUploadModelBox()">Upload File</button>

</div>
<div class="col-md-9 pull-right">
	<ul class="nav nav-pills nav-justified">
		<li class="active"
			style="border-radius: 9px; border: 2px solid #E7E9EA;"><a
			data-toggle="pill" href="/#score-board">Score Board</a></li>
		<li style="border-radius: 9px; border: 2px solid #E7E9EA;"><a
			data-toggle="pill" href="/#store-overview">Stores Overview</a></li>
		<li style="border-radius: 9px; border: 2px solid #E7E9EA;"><a
			data-toggle="pill" href="/#sales-overview">Sales Overview</a></li>
		<li style="border-radius: 9px; border: 2px solid #E7E9EA;"><a
			data-toggle="pill" href="/#assortment-plan">Assortment Plan</a></li>
			<li style="border-radius: 9px; boreder: 2px solid #E7E9EA;"><a
			data-toggle="pill" href="/#discount-overview">Discount overview</a></li>
		<li style="border-radius: 9px; boreder: 2px solid #E7E9EA;"><a
			data-toggle="pill" href="/#hits-miss">Hits & Miss</a></li>
	</ul>
	<br />
	<div class="tab-content">
		<div id="score-board" class="tab-pane fade in active">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<div style="width: 100%">
						<div
							style="height: 100%; width: 50%; border: 1px solid black; display: inline-table;">
							<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in scoreboardData[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in scoreboardData track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="2">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-if="rows.rowData[$parent.$index].rowName == 'TY'" ng-style="columnData.columnValue < rows.rowData[1].columnData[$index].columnValue && {'background-color': 'red'} || columnData.columnValue > rows.rowData[1].columnData[$index].columnValue && {'background-color': 'green'} || columnData.columnValue === rows.rowData[1].columnData[$index].columnValue && {'background-color': 'yellow'} " ng-repeat="columnData in rowsData.columnData track by $index">{{columnData.columnValue}}</td>
											 <td ng-if="rows.rowData[$parent.$index].rowName != 'TY'" ng-repeat="columnData in rowsData.columnData"> {{columnData.columnValue}}</td>
									</tr>
									<tr ng-if="$index !=0" >
										 <td colspan="2" >{{rows.rowName}}</td> 
											<td  ng-repeat="columnData in rows.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div
							style="width: 49%; border: 1px solid black; display: inline-table; height: 100%;">
							<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in scoreboardDataDiscounts[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in scoreboardDataDiscounts track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="2">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-if="rows.rowData[$parent.$index].rowName == 'TY'" ng-style="columnData.columnValue < rows.rowData[1].columnData[$index].columnValue && {'background-color': 'red'} || columnData.columnValue > rows.rowData[1].columnData[$index].columnValue && {'background-color': 'green'} || columnData.columnValue === rows.rowData[1].columnData[$index].columnValue && {'background-color': 'yellow'} " ng-repeat="columnData in rowsData.columnData track by $index">{{columnData.columnValue}}</td>
											 <td ng-if="rows.rowData[$parent.$index].rowName != 'TY'" ng-repeat="columnData in rowsData.columnData"> {{columnData.columnValue}}</td>
									</tr>
									<tr ng-if="$index !=0" >
										 <td colspan="2" >{{rows.rowName}}</td> 
											<td  ng-repeat="columnData in rows.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div
							style="width: 50%; border: 2px solid black; display: inline-table; height: 100%;">
							<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in scoreboardDataSPSF[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in scoreboardDataSPSF track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="2">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-if="rows.rowData[$parent.$index].rowName == 'TY'" ng-style="columnData.columnValue < rows.rowData[1].columnData[$index].columnValue && {'background-color': 'red'} || columnData.columnValue > rows.rowData[1].columnData[$index].columnValue && {'background-color': 'green'} || columnData.columnValue === rows.rowData[1].columnData[$index].columnValue && {'background-color': 'yellow'} " ng-repeat="columnData in rowsData.columnData track by $index">{{columnData.columnValue}}</td>
											 <td ng-if="rows.rowData[$parent.$index].rowName != 'TY'" ng-repeat="columnData in rowsData.columnData"> {{columnData.columnValue}}</td>
									</tr>
									<tr ng-if="$index !=0" >
										 <td colspan="2" >{{rows.rowName}}</td> 
											<td  ng-repeat="columnData in rows.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>

						</div>
						<div
							style="width: 49%; border: 2px solid black; display: inline-table; height: 50%;">

							
							<table class="table table-bordered">
							<thead>
								<tr style="background-color: #2a5f8e; color: white;">
									<th colspan="3">SOH</th>
								</tr>
								<tr>
									<th></th>
									<th ng-repeat = "columnHeaders in dataForSOH[0].columnData">{{columnHeaders.columnName}}</th>
										
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "data in dataForSOH track by $index ">
									<td>{{data.rowName}}</td>
									<td ng-repeat ="values in data.columnData">{{values.columnValue}}</td>
								</tr>
							</tbody>
							
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="store-overview" class="tab-pane fade">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body"></div>
				<div ng-include="'pages/retail/templates/storesOverviewTemplate.html'"></div>
			</div>
		</div>
		<div id="sales-overview" class="tab-pane fade">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body"></div>
					<div ng-include="'pages/retail/templates/salesOverviewTemplate.html'"></div>
			</div>
		</div>
		<div id="discount-overview" class="tab-pane fade">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body"></div>
					<div ng-include="'pages/retail/templates/discountsOverviewTemplate.html'"></div>
			</div>
		</div>
		<div id="assortment-plan" class="tab-pane fade">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body"></div>
			</div>
		</div>
		<div id="hits-miss" class="tab-pane fade">
			<div class="panel panel-primary">
				<div class="panel-heading"></div>
				<div class="panel-body"></div>
			</div>
		</div>
	</div>
</div>