<div id = "fileUploadModelBox" class="modal-dialog">
	<tt-error-messages extra-styles="access-screen"></tt-error-messages>	
			<div class="modal-body">
		<form name="newProject">
				<div class="row"  ng-model="content">
				<div class="col-sm-9 pull-left">
					<input type="file" class="btn btn-pr" id="fileToUpload"
						onchange="angular.element(this).scope().setFiles(this)"/>
				</div>
				<div>
					<table class="table">
						<tbody>
							<tr ng-repeat="file in files.slice(0)" class="danger">
								<td><strong>{{file.webkitRelativePath ||
										file.name}}</strong></td>
								<td ng-switch="file.size > 1024*1024"><span
									ng-switch-when="true">{{file.size / 1024 / 1024 |
										number:2}} MB</span> <span ng-switch-default>{{file.size /
										1024 | number:2}} kB</span></td>
								<td>
									<div class="progress" style="margin-bottom: 0;">
										<div class="item-progress-bar"
											ng-style="{ 'width': file.progress + '%' }"></div>
									</div>
								</td>
								<td nowrap>
									<button type="button" class="btn btn-success btn-xs"
										ng-click="uploadDataFile($index)">
										<span class="glyphicon glyphicon-upload"></span>
									</button>
									<button type="button" class="btn btn-danger btn-xs"
										ng-click="removeFromQueue($index)">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- End of row -->
			</div>
				<div class="modal-footer">
				<button type="submit" class="pure-button pure-input-1 pure-button-primary" ng-click="saveProject(attribute)"
					ng-disabled="newProject.$invalid ||isDisabled">Save</button>
				<button type="button" class="button-warning" ng-click="$dismiss()" class="btn">Cancel</button>
		</div>
		</form>
	</div>

</div>