header.page-header {
	background: #F0F8FF;
	color: #333;
	height: 55px;
}

.page-header {
	padding-bottom: 0px;
	margin: 0px 0 40px;
	border-bottom: 5px solid #e7e7e7;
}

span.page-title {
	margin-left: 0.4em;
	font-size: 137%;
	vertical-align: top;
}

.logo {
	height: 3.1em;
	padding: 0.1em;
	margin-top: 0.5em;
	margin-left: 0.3em;
	margin-bottom: 0.25em;
}

header a {
	text-decoration: none;
}

.header-element {
	display: inline-block;
	vertical-align: top;
	height: 68px;
	line-height: 68px;
}

.username {
	font-size: 85%;
	margin-left: 1em;
	margin-right: 1em;
}

.username-placeholder {
	width: 100px;
	display: inline-block;
}

.container {
	margin: 0 0.6em;
}

@media screen and (min-width: 100em) {
	.container {
		max-width: 100em;
		margin: 0 auto;
	}
}

@media screen and (min-width: 14em) {
	.login-container {
		max-width: 14em;
		margin: 0 auto;
	}
}

.pure-skin-theme .pure-form.search-form, .pure-skin-theme .pure-form.login-form
	{
	margin-top: 0.3em;
}

.pure-skin-theme .pure-form.login-form input {
	margin-bottom: 0.17em;
}

.pure-skin-theme .pure-form.search-form .search-button {
	vertical-align: middle;
	font-size: 85%;
}

.pure-skin-theme .pure-form button.search-button[type="submit"] {
	margin-top: 1em;
}

@media screen and (min-width: 35.5em) {
	.pure-skin-theme .pure-form .from-to-time {
		margin-top: 0.7em;
	}
}

.projects-list {
	margin-top: 2em;
}

.table-buttons {
	margin-bottom: 0.4em;
}

.pure-skin-theme .table-buttons button {
	font-size: 85%;
}

.projects-list table {
	width: 100%;
	table-layout: fixed;
	font-size: 95%;
}

.pure-skin-theme .projects-list table input[type="text"] {
	padding-top: 0;
	padding-bottom: 0;
}

.pure-skin-theme .projects-list table td.editable-cell {
	padding: 0;
}

.pure-skin-theme .projects-list table td.editable-cell .edit-widget {
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.pure-skin-theme .pure-form .projects-list table input[type="text"] {
	width: 100%;
	height: 21px;
	max-width: none;
	max-height: none;
}

.search-form-content {
	margin-top: 0.2em;
	margin-left: auto;
	margin-right: auto;
}

/* if its at least sm */
@media screen and (min-width: 35.5em) {
	.search-form-content {
		max-width: 28em;
	}
}

.new-user-link {
	float: right;
	display: inline-block;
	margin-top: 0.5em;
	font-size: 80%;
}

.error-messages {
	color: #e9322d;
	font-size: 0.75em;
}

.form-field {
	height: 3.35em;
}

.last-form-field {
	height: 2.6em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}

.utilities {
	margin-left: 1em;
	margin-bottom: 1em;
}

@media screen and (min-width: 64em) {
	.utilities {
		text-align: right;
		margin-left: auto;
		margin-bottom: auto;
	}
}

.main-controls {
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.pure-skin-theme .main-controls button {
	margin-right: 0.5em;
}

.form-separator {
	margin-top: 1em;
	border-top: 1px solid #ededed;
}

.pure-skin-theme .pure-form.search-form input {
	max-width: 153px;
	max-height: 29px;
	font-size: 90%;
}

@media screen and (max-width: 650px) {
	.search-form-content label {
		display: block;
	}
	.search-form-content {
		max-width: 32em;
	}
	.search-form-content .search {
		width: 50%;
		margin-top: 0.5em;
	}
}

.pure-skin-theme .pure-paginator.paginator {
	text-align: center;
	margin-top: 1em;
}

.pure-skin-theme .pure-paginator.paginator .pure-button {
	font-size: 88%;
	padding: 0.4em 0.95em;
}

.form-messages {
	margin-top: 1em;
	font-size: 0.9em;
	border-radius: 4px;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	padding-left: 0em;
}

.form-messages.errors {
	color: #e9322d;
	background-color: #fbe8e5;
}

.form-messages.errors.access-screen {
	background-color: white;
}

.messages-group {
	display: inline-block;
	vertical-align: top;
	padding-top: 0.3em;
}

.access-screen {
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.88em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.error-icon, .info-icon {
	margin-left: 0.8em;
	display: inline-block;
	height: 25px;
}

.not-ready {
	opacity: 0.5;
}

.pure-skin-theme .app-ready {
	opacity: 1;
}

.pure-skin-theme .please-wait-dialog, .pure-skin-theme .info-messages {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	margin: 0 auto;
	z-index: 2000;
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: 0.1s ease-in-out -webkit-opacity;
	-moz-transition: 0.1s ease-in-out -moz-opacity;
	-ms-transition: 0.1s ease-in-out opacity;
	-o-transition: 0.1s ease-in-out opacity;
	transition: 0.1s ease-in-out opacity;
	transition-delay: 0s;
}

.pure-skin-theme .please-wait-dialog {
	background: #e1eefa;
	text-align: center;
	width: 350px;
	height: 140px;
	margin-left: -175px;
	margin-top: -70px;
}

.info-icon {
	margin-top: 0.1em;
	margin-left: 1.2em;
}

.please-wait-spinner {
	margin-top: -24px;
	margin-left: -24px;

	position: fixed;
	top: 45%;
	left: 45%;
    opacity: .5;
    z-index: 2000;
    overflow: auto;
    background-color: #fcfcfc;
}
.please-wait-loading {
	margin-top: -24px;
	margin-left: -24px;

	position: fixed;
	top: 55%;
	left: 22%;
    opacity: .5;
    z-index: 2000;
    overflow: auto;
    background-color: #a39797;
}
.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}

.pure-skin-theme .info-messages {
	color: #3b67a7;
	background-color: #d0eaff;
	width: 300px;
	height: 100px;
	margin-left: -150px;
	margin-top: -50px;
	padding-top: 1em;
	z-index: -10;
}

.bg-light:hover {
	border: solid 1px #bbb;
}

.bg-light {
	padding: 10px 15px;
	margin-bottom: 25px;
	background: #C6E0DE;
	border: solid 1px #e5e5e5;
}

hr {
	border-top: 2px solid #428bca !important;
	margin-bottom: 5px !important;
	margin-top: 3px !important;
}

<!--
File Upload -->table {
	border-collapse: collapse;
}

.percent {
	position: absolute;
	width: 300px;
	height: 14px;
	z-index: 1;
	text-align: center;
	font-size: 0.8em;
	color: white;
}

.progress-bar {
	width: 300px;
	height: 14px;
	border-radius: 10px;
	border: 1px solid #CCC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc),
		to(#4b4b95));
	border-image: initial;
}

.item-progress-bar {
	width: 92px;
	height: 14px;
	border-radius: 10px;
	border: 1px solid #CCC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc),
		to(#4b4b95));
	border-image: initial;
	width: 0%;
}

.uploaded {
	padding: 0;
	height: 14px;
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00),
		to(#4b9500));
	border-image: initial;
}

.dropbox {
	width: 15em;
	height: 3em;
	border: 2px solid #DDD;
	border-radius: 8px;
	background-color: #FEFFEC;
	text-align: center;
	color: #BBB;
	font-size: 2em;
	font-family: Arial, sans-serif;
}

.dropbox span {
	margin-top: 0.9em;
	display: block;
}

.dropbox.not-available {
	background-color: #F88;
}

.dropbox.over {
	background-color: #bfb;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
td,th{
	text-align: center;
}
.watermark{
    color:lightgrey;
    font-size:20px;
}
tr,td{
	text-align: center;
}
h4{
	text-align: center;
}