<div style="width: 100%">
<div
		style="width: 50%; border: 2px solid black; display: inline-table; height: 100%;">
		<h4>{{discountsOverviewStoreclusters.storeType}}</h4>
		<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in discountsOverviewStoreclusters.dataForStoreClusters[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in discountsOverviewStoreclusters.dataForStoreClusters track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="4">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-style="" ng-repeat="columnData in rowsData.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>

	</div>
	<div
		style="width: 49%; border: 2px solid black; display: inline-table; height: 100%;">
		<h4>{{discountsOverviewMarchandiseclusters.storeType}}</h4>
		<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in discountsOverviewMarchandiseclusters.dataForMarchandiseClusters[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in discountsOverviewMarchandiseclusters.dataForMarchandiseClusters track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="4">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-style="" ng-repeat="columnData in rowsData.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>

	</div>
	</div>