<div style="width: 100%">
	<div
		style="height: 100%; width: 50%; border: 0.5px solid black; display: inline-table;">
		<h4  class="accordion-toggle" data-toggle="collapse" data-target="#demo" >{{b2bStoresData[0].storeType}}</h4>
		
		<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in b2bStoresData[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in b2bStoresData track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="2">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-style="" ng-repeat="columnData in rowsData.columnData">{{columnData.columnValue}}</td>
									</tr>
									<tr ng-if="$index !=0" >
										 <td colspan="2" >{{rows.rowName}}</td> 
											<td  ng-repeat="columnData in rows.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>
	</div>
	<div
		style="width: 49%; border: 2px solid black; display: inline-table; height: 100%;">
		<h4>{{lolStoresData[0].storeType}}</h4>
		<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in lolStoresData[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in lolStoresData track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="2">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-style="" ng-repeat="columnData in rowsData.columnData">{{columnData.columnValue}}</td>
									</tr>
									<tr ng-if="$index !=0" >
										 <td colspan="2" >{{rows.rowName}}</td> 
											<td  ng-repeat="columnData in rows.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>
	</div>
	<div
		style="width: 50%; border: 2px solid black; display: inline-table; height: 100%;">
		<h4>{{clustersData[0].storeType}}</h4>
		<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in clustersData[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in clustersData track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="4">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-style="" ng-repeat="columnData in rowsData.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>

	</div>
	<div
		style="width: 49%; border: 2px solid black; display: inline-table; height: 50%;">
			<h4>{{spsfStoresData[0].storeType}}</h4>
		<table class="table table-bordered">
								<thead>
									<tr style="background-color: #2a5f8e; color: white;">
										<th colspan="2"></th>
										<th ng-repeat = "columnHeaders in spsfStoresData[0].rowData[0].columnData track by $index">{{columnHeaders.columnName}}</th>
									</tr>
								</thead>
								<tbody ng-repeat ="rows in spsfStoresData track by $index">
									<tr ng-if="!angular.isUndefined(rows.rowData)" ng-repeat ="rowsData in rows.rowData" >
										 <td ng-if="$index == 0" rowspan="2">{{rows.rowName}}</td> 
										<td >{{rows.rowData[$index].rowName}}</td>
											<td ng-style="" ng-repeat="columnData in rowsData.columnData">{{columnData.columnValue}}</td>
									</tr>
									<tr ng-if="$index !=0" >
										 <td colspan="2" >{{rows.rowName}}</td> 
											<td  ng-repeat="columnData in rows.columnData">{{columnData.columnValue}}</td>
									</tr>
								</tbody>
							</table>
	</div>
</div>