<div style="width: 100%">
	<div
		style="height: 100%; width: 50%; border: 0.5px solid black; display: inline-table;">
		<h4 class="accordion-toggle" data-toggle="collapse"
			data-target="#demo">{{storesData.storeType}}</h4>
			
			<table class="table table-bordered">
				<thead>
					<tr style="background-color: #2a5f8e; color: white;">
						<th>Class</th>
						<th ng-repeat ="columnHeaders in storesData.dataForWOW[0].columnData">{{columnHeaders.columnName}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "data in storesData.dataForWOW track by $index">
						<td>{{data.rowName}}</td>
						<td ng-repeat="columnValues in data.columnData track by $index">{{columnValues.columnValue}}</td>
					</tr>
				</tbody>
				
			</table>
			
	</div>
	<div
		style="height: 100%; width: 49%; border: 0.5px solid black; display: inline-table;">
		<h4 class="accordion-toggle" data-toggle="collapse"
			data-target="#demo">{{storesDataForLOL.storeType}}</h4>
			
			<table class="table table-bordered">
				<thead>
					<tr style="background-color: #2a5f8e; color: white;">
						<th>Class</th>
						<th ng-repeat ="columnHeaders in storesDataForLOL.dataForLOL[0].columnData">{{columnHeaders.columnName}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "data in storesDataForLOL.dataForLOL track by $index">
						<td>{{data.rowName}}</td>
						<td ng-repeat="columnValues in data.columnData track by $index">{{columnValues.columnValue}}</td>
					</tr>
				</tbody>
				
			</table>
			
	</div>
		<div
		style="height: 100%; width: 50%; border: 0.5px solid black; display: inline-table;">
		<h4 class="accordion-toggle" data-toggle="collapse"
			data-target="#demo">{{storesDataForSTD.storeType}}</h4>
			
			<table class="table table-bordered">
				<thead>
					<tr style="background-color: #2a5f8e; color: white;">
						<th>Class</th>
						<th ng-repeat ="columnHeaders in storesDataForSTD.dataForSTD[0].columnData">{{columnHeaders.columnName}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "data in storesDataForSTD.dataForSTD track by $index">
						<td>{{data.rowName}}</td>
						<td ng-repeat="columnValues in data.columnData track by $index">{{columnValues.columnValue}}</td>
					</tr>
				</tbody>
				
			</table>
			
	</div>
	<div
		style="height: 100%; width: 49%; border: 0.5px solid black; display: inline-table;">
		<h4 class="accordion-toggle" data-toggle="collapse"
			data-target="#demo">{{storesDataForYTD.storeType}}</h4>
			
			<table class="table table-bordered">
				<thead>
					<tr style="background-color: #2a5f8e; color: white;">
						<th>Class</th>
						<th ng-repeat ="columnHeaders in storesDataForYTD.dataForYTD[0].columnData">{{columnHeaders.columnName}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "data in storesDataForYTD.dataForYTD track by $index">
						<td>{{data.rowName}}</td>
						<td ng-repeat="columnValues in data.columnData track by $index">{{columnValues.columnValue}}</td>
					</tr>
				</tbody>
				
			</table>
			
	</div>
</div>