<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inferneon</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
     <link rel="stylesheet" href="/resources/bower_components/bootstrap/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="/resources/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css">
     <link rel="stylesheet" href="/resources/bower_components/font-awesome/css/font-awesome.min.css">
     <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
     <link rel="stylesheet" href="/resources/public/css/inferneon-main.css">
       <link rel="stylesheet" href="/resources/public/css/inferneon-retail.css">
    <link rel="stylesheet" href="/resources/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/resources/bower_components/ng-grid/ng-grid.css" type ="text/css">
    <link href="/resources/bower_components/gojs/assets/css/goSamples.css" rel="stylesheet" type="text/css" /> <!-- you don't need to use this -->
</head>
<body class="pure-skin-theme" id="inferneonApp" ng-controller="InferneonCtrl">

<div ng-hide="vm.appReady">
    <img class="please-wait-spinner" src="/resources/img/loading.gif">
</div>

<header class="page-header pure-g not-ready" ng-class="{'app-ready': vm.appReady}">
    <div class="pure-u-lg-5-8">

        <a class="pure-menu-heading" href="/resouces/public/login.html">
           <!--  <img class="logo" src="/resources/img/logo.png"> -->
       		<span class="header-element page-title">Inferneon-retail</span>
		</a>
    </div>
    <div class="pure-u-lg-1-3 pure-u-1">
        <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="home">Home</a></li>
        <li class="dropdown">
          <a href="/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          	<span ng-bind="::vm.userName"/><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
           <!--  <li>Change Password</li>
            <li role="separator" class="divider"></li> -->
            <li><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
        
        
    </div>
</header>
<main style="padding-right:20px;" class="not-ready" ng-class="{'app-ready': vm.appReady}" ng-cloak>
    <tt-error-messages></tt-error-messages>
    <div class="info-messages"
         ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
    <img class="info-icon" src="/resources/img/info-icon.png">
        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>
    <div id="tree" class="col-md-3 pull-left">
								</div>
   <!--  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a href="#" ui-sref="home()" ng-click="home()">Dash Board</a>
  <a href="#" ui-sref="salesOverview()" ng-click="salesOverview()">Sales Overview</a>
  <a href="#" ui-sref="storesOverview()">Stores Overview</a>
  <a href="#" ui-sref="discountsOverview()">Discounts Overview</a>
</div>
<span style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776;</span> -->
	<div id="main" class="content" >
		<!-- <div ng-view></div>	 -->	
		<div ui-view></div>
	</div>
</main>
<script type="text/javascript" data-main="/resources/js/inferneon-load.js"
        src="/resources/bower_components/requirejs/require.js"></script>
</body>
</html>